html { overflow-x: hidden; }
body {
	overflow-x: hidden;
	overflow-y: auto;
    display: block !important;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    color: #000;
    width: 550px;
    margin: 0 auto;
}
#content { padding: 120px 10px 10px 10px; }

.login {
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #fff;
}
.login-body {
	position: absolute;
	width: 550px;
	top: 150px;
	left: calc(50% - 275px);
}


#logintitle, a, a:hover, a:focus {
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a, a:hover, a:focus { text-decoration: none; color: #000; }

header {
	width: 550px;
	height: 95px;
	background-color: #fff;
	font-weight: 300;
	border-bottom: 1px solid gray;
	position: fixed;
	z-index: 5;
}
.header-title, .header-save {
	position: absolute;
	top: 60px;
	color: #000;
}
.header-save {
	top: 57px;
	right: 0;
	font-weight: 400;
}

.name {
	font-size: 18px;
	font-weight: 400;
	padding-right: 5px;
}
.auth {
	font-size: 13px;
	font-weight: 300;
}

#action_buttons {
    width: 100%;
    margin: 11px auto 50px;
}

.card {
	margin-bottom: 8px;
	margin-left: -10px;
	width: 550px;
}
.card-content { padding: 0px 20px; }
.card-title {
	padding-bottom: 20px;
    font-weight: 400;
    color: #909090;
}
.card-section { padding-bottom: 40px; }
.style-scope .paper-input, label { font-size: 14px !important; }
paper-toggle-button { margin-bottom: -2px; float: right; }

.about { padding-top: 15px; }
#btc { padding-left: 10px; }

.resetbutton {
	position: absolute;
	bottom: 30px;
}
#dialog-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 8;
	top: 0;
	left: 0;
}
#dialog {
	position: fixed;
	width: 300px;
	height: 150px;
	border-radius: 4px;
	top: calc(50% - 75px);
    left: calc(50% - 150px);
	z-index: 9;
	background-color: #fff;
}
.dialog-body {
	position: absolute;
    left: 30px;
    top: 10px;
}
.listsplice {
	padding-left: 15px;
	color: red;
	cursor: pointer;
	text-transform: uppercase;
}
.keywordform { margin-top: -25px; }
#dialog-buttons { float: right; margin-left: 105px; }
